// OUTER CONTAINER //

.searchbox-books-container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  font-size: inherit;
}

#button-search-subject {
  // height: 1.5rem;
  // font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

// inner header (trending - book of choice - book subject)
.books-display-header {
  margin: 0 auto;
  padding: 0.5rem;
  opacity: 0;
  // visibility: hidden;
  // border-bottom: 1px solid grey;
  text-decoration: underline lightslategray;
  text-align: center;
  // opacity: 1;
  // animation: fade 1s ease reverse;
  // transition: fade 1s ease reverse;
  // transition: opacity 3s;
  transition: opacity 0.3s ease-in-out;
}

// Searchbox, button and invalid input message.
.input-group {
  width: 80%;
  margin: 0.3rem auto auto auto;
  // font-size: inherit;
}

.invalid-feedback {
  margin-bottom: 0rem;
}

// INNER CONTAINER //

.books-container {
  position: relative;
  height: 60vh;
  margin-right: 5px;
  margin-left: 5px;

  display: grid;
  gap: 1rem;
  padding: 0.75rem 1rem 1rem 1rem;
  grid-auto-flow: column;
  justify-items: center;

  overflow-x: auto;
  overscroll-behavior-inline: contain;

  // font-size: inherit;
}

.scrollbar {
  scrollbar-width: thin;
}

.books-container::-webkit-scrollbar {
  width: 1vw;
  height: 1vh;
}

.books-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  margin-block: 0.5rem;
}

.books-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.114);
  border-radius: 30px;
  height: 60px;
  width: 60px;
  // border: 0.1rem solid rgba(0, 0, 0, 0.16);
}

.books-container::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.24);
}

.snap {
  scroll-snap-type: inline mandatory;

  & > * {
    scroll-snap-align: center;
  }
}

// style for container after having selected a book //
.books-container-selected {
  // height: 60vh;
  // width: 60vw;
  display: flex;
  justify-content: center;
  // padding: 0.75rem 1rem 1rem 1rem;
  flex-wrap: wrap;
  overflow-y: auto;
}

// error message display inside book container //
.error-message {
  @include center-content;
  // display: flex;
  // text-align: center;
  // align-items: center;
  margin-bottom: 0;
}
