.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-top: 1px solid black;

  .links {
    i {
      padding: 1rem;
      font-size: 1.75rem;
    }
  }
}
