.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-top: 1px solid white;
  background-color: #d5bdaf;

    a {
      display: flex;
      justify-content: center;
      width: 20%;
      padding-top: 1vh;

      img {
        max-height: 30px;

      }

    }


}

