main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  // padding: 0px 10px 0px 10px;
}

h1 {
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid grey;
  margin: 0px;
}

.searchbox-books-container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-evenly;
  // position: relative;
  // overflow-x: auto;
}

.trending {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  // width: 100%;
  padding-top: 0.5rem;
  border-top: 1px solid grey;
  // border-bottom: 1px solid black;
}

.input-group {
  width: 75%;
  margin: 0 auto;
}

.book {
  // position: relative;
  height: 100%;
  width: 60vw;
  overflow: hidden;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 33px;
  @include shadow-style;

  &:hover {
    margin-top: -10px;
    opacity: 0.9;
    border: 2px solid black;
    // margin-bottom: -10px;
  }
}

.book-cover {
  height: 60%;
}

img {
  // width: 100%;
  inline-size: 100%;
  // object-fit: cover;
  height: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.book-title {
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 20%;
  // border-top: 1px solid black;
  // border-bottom: 1px solid black;
  background-color: white;
  // position: relative;
  text-align: center;
  margin: 1px 2px 0px 1px;
  font-weight: bold;
}

.book-author {
  display: flex;
  // justify-content: center;
  align-items: center;
  text-align: center;
  height: 15%;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  background-color: white;

  p {
    margin-bottom: 0px;
  }
}

/* SLIDER */

.books-container {
  height: 60vh;

  display: grid;
  gap: 1rem;
  // padding-left: 1rem;
  // padding-right: 1rem;
  padding: 0.75rem 1rem 1rem 1rem;
  grid-auto-flow: column;
  // grid-auto-columns: 33%;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.books-container-selected {
  min-height: 60vh;
  // width: 60vw;
  display: flex;
  justify-content: center;
  // align-items: center;
  // justify-content: center;
  flex-wrap: wrap;
}

.book-selected {
  border: 1px solid black;
  border-radius: 33px;
  @include shadow-style;
  width: 60vw;
  height: 60vh;
}

.searchbox-books-container-selected {
  min-height: 80vh;
  width: 100%;
}

.snap {
  scroll-snap-type: inline mandatory;
}

.snap > * {
  scroll-snap-align: center;
}
