@media only screen and (min-width: 500px) {
  .book {
    width: 45vw;
  }

  .book-description {
    width: 65vw;
  }
}

@media only screen and (min-width: 600px) {
  .book {
    width: 40vw;
  }
  .book-description {
    width: 60vw;
  }
}

@media only screen and (min-width: 700px) {
  .books-container {
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    /* gap: 1rem; */
    padding: 0.75rem 1rem 1rem 1rem;
    /* grid-auto-flow: column; */
    justify-items: center;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }

  .book {
    width: 30vw;
  }

  .books-container-selected {
    padding-left: 0px;
    padding-right: 0px;
    width: 80%;
    justify-content: start;
    position: relative;
    margin: 0px 10%;

    .book-description {
      //leave a margin of 2vw so it doen't touch the Y scrollbar
      width: 43vw;
      position: absolute;
      top: 0;
      left: 35vw;
      margin: 0;
      text-align: left;
      padding-top: 5px;
    }
  }

  @media only screen and (min-height: 500px) {
    .book {
      height: 45vh;
    }
  }
}

@media only screen and (min-width: 950px) {
  .book {
    width: 20vw;

    .book-description {
      width: 53vw;
      left: 25vw;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .book {
    width: 15vw;

    .book-description {
      width: 58vw;
      left: 20vw;
    }
  }

  .page-footer .links {
    i {
      font-size: 2.2rem;
    }
  }
}

/*
@media only screen and (min-width: 1400px) {
  #input-search-subject,
  #button-search-subject {
    height: 3.5rem;
    font-size: 2rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  h4 {
    font-size: 2.3rem;
  }

  .book-title {
    h6 {
      font-size: 1.2rem;
    }
  }
  .book-author {
    p {
      font-size: 1.2rem;
    }
  }

  .book-cover-message {
    font-size: 1.2rem;
  }

  .book-description {
    font-size: 1.5rem;
  }

  .spinner {
    width: 100px;
    height: 100px;
    border-width: 20px;
  }

  .page-footer .links {
    i {
      font-size: 2.5rem;
    }
  }

  .error-message {
    font-size: 2rem;
  }
}

*/

// to improve landscape position in devices with a very low viewport HEIGHT.
@media only screen and (max-height: 540px) {
  #input-search-subject {
    height: 1.5rem;
    font-size: 0.7rem;
  }

  #button-search-subject {
    height: 1.5rem;
    font-size: 0.7rem;
  }

  .invalid-feedback {
    font-size: 0.6rem;
  }

  h4 {
    font-size: 1rem;
  }
  .book {
    width: 15vw;
    font-size: 0.65rem;
  }
  .book-title {
    h6 {
      font-size: 0.7rem;
      // -webkit-line-clamp: 2;
    }
  }
  // .book-author {
  //   p {
  //     -webkit-line-clamp: 2;
  //   }
  // }

  .spinner {
    width: 30px;
    height: 30px;
    border-width: 7px;
  }

  .error-message {
    font-size: 0.8rem;
  }

  .books-container-selected {
    padding-left: 0px;
    padding-right: 0px;
    width: 80%;
    justify-content: start;
    position: relative;
    margin: 0px 10%;

    .book-description {
      //leave a margin of 2vw so it doesn't touch the Y scrollbar
      width: 58vw;
      position: absolute;
      top: 0;
      left: 20vw;
      margin: 0;
      text-align: left;
      padding-top: 5px;
    }
  }
}
