@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.otf.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Bold.otf.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Black.otf.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}
body {
  background-color: green;
  font-family: "Source Sans Pro", sans-serif;
}

img {
  width: 300px;
}
